<div class="container-fluid whatIdo" #whatIdo>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="pageHeader">From Idea to Impact — Powered by the 4 D’s</p>
                <p class="pageHeader2">Turning concepts into real-world solutions with purpose and precision</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="mycontainer">
                    <img src="assets/design.png" alt="Design" />
                    <h2>Design</h2>
                    <p>Design seamless, intuitive interfaces that transform ideas into immersive digital journeys</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mycontainer">
                    <img src="assets/develop.png" alt="Develop" />
                    <h2>Develop</h2>
                    <p>Engineer seamless digital solutions with precision, performance, and reliability by transforming logic into high-performance code</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mycontainer">
                    <img src="assets/integrate.png" alt="Integrate" />
                    <h2>Deploy</h2>
                    <p>Unite user experience to real-time data with backend intelligence through smart, streamlined connections</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mycontainer">
                    <img src="assets/deliver.png" alt="Deliver" />
                    <h2>Distribute</h2>
                    <p>Launch production-ready apps with confidence, delivering quality, speed, and client satisfaction</p>
                </div>
            </div>
        </div>
    </div>
</div>