<body>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="assets/AbhjitLogo2__2_-removebg-preview.png" alt="Abhijit Logo" class="logo">
                <div><p>Crafting code with purpose</p>
                    <p>One pixel, One tap, One idea at a time</p></div>
            </div>
            <div class="footer-contact">
                <div class="footer-social">
                    <a href="mailto:kunduabhijit.745@gmail.com" class="social-icon">
                        <img src="assets/SocialMedia/email.png" alt="Email" />
                    </a>
                    <a href="https://wa.me/7980626706" target="_blank" class="social-icon">
                        <img src="assets/SocialMedia/whatsapp.png" alt="WhatsApp" />
                    </a>
                    <a href="http://www.linkedin.com/in/abhijit-kundu-268301131" class="social-icon">
                        <img src="assets/SocialMedia/linkedin.png" alt="LinkedIn" />
                    </a>
                    <a href="https://github.com/Abhijit745" class="social-icon">
                        <img src="assets/SocialMedia/github.png" alt="Github" />
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy;Abhijit Kundu 2025 | All Rights Reserved
        </div>
    </footer>
</body>