<div class="container-fluid mySkills" #mySkills>
    <div class="container">
        <h2 class="skill-title">My Skills</h2>
        <div class="row justify-content-center">
             <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/Java.png" alt="CSS" />
                    <p>Java</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/Kotlin.png" alt="Kotlin" />
                    <p>Kotlin</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/python.png" alt="CSS" />
                    <p>Python</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/CSharp.png" alt="CSS" />
                    <p>C#</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/xml.png" alt="XML" />
                    <p>XML</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/json-file.png" alt="CSS" />
                    <p>Json</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/tool.png" alt="SDK" />
                    <p>SDK</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/Jetpack.png" alt="Jetpack" />
                    <p>Jetpack</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/rfid.png" alt="CSS" />
                    <p>RFID</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/WebApi.png" alt="CSS" />
                    <p>Web API</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/MQTTM.png" alt="CSS" />
                    <p>MQTT</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/flutter.png" alt="Flutter" />
                    <p>Flutter</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/download.png" alt="Android Studio" />
                    <p>Android Studio</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/ReactNative.png" alt="ReactNative" />
                    <p>React Native</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/DotNetCore.png" alt="DotNetCore" />
                    <p>.Net Core</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/MQTTP.png" alt="CSS" />
                    <p>MQTTX</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/Postman.png" alt="CSS" />
                    <p>Postman</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/Skills/SQL.png" alt="CSS" />
                    <p>SSMS</p>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 skill-card">
                <div class="skill-box">
                    <img src="assets/SocialMedia/github.png" alt="CSS" />
                    <p>Github</p>
                </div>
            </div>
        </div>
    </div>
</div>