<div class="container-fluid contactMe" id="contactMe">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4">
                <div class="contact-text">
                    <p class="highlight">GET IN TOUCH !</p>
                    <h1>Fill Free To <span style="color: #c33cf9;">Reach</span> & <span
                            style="color: #c33cf9;">Contact</span> !</h1>
                    <p>
                        Whether you want to get in touch, or talk about a project collaboration.
                        Feel free to connect with me
                    </p>
                </div>
                <div class="footer-contact">
                    <h3>Contact</h3>
                    <div class="footer-contact-item">
                        <img src="assets/SocialMedia/email1.png" alt="Email" class="contact-icon" />
                        kunduabhijit.745&#64;gmail.com
                    </div>
                    <div class="footer-contact-item">
                        <img src="assets/SocialMedia/location1.png" alt="Location" class="contact-icon" />
                        Kolkata, West Bengal
                    </div>
                    <div class="footer-contact-item">
                        <img src="assets/SocialMedia/call1.png" alt="Call" class="contact-icon" />
                       7980626706
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="contact-form">
                    <div class="form-row">
                        <input type="text" placeholder="Your Name" required />
                    </div>
                    <div class="form-row">
                        <input type="email" placeholder="Your Email" required />
                        <input type="tel" placeholder="Your Phone Number" required />
                    </div>
                    <textarea placeholder="Your Message" rows="6" required></textarea>
                    <button type="button">Connect Now</button>
                </div>
            </div>
        </div>
    </div>
</div>